<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>영어 본문 암기 도우미</title>
</head>
<body class="center_column">
    <div class="container center_column">
        <div class="contents center_column">
            {{post.problem | safe}}
        </div>
        <form action="/">
            <input type="submit" class="button" value="홈으로">
        </form>
    </div>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script>
        if (performance.navigation.type === 2) {
            window.location.href = "/";
        }
    </script>
</body>
</html>